<div class="content">

  <h1>Presentation</h1>
  <ul class="list-group">
    <% @requirement.each_with_index do |r| %>
        <li class="list-group-item">
          <span class="label label-default"><%= r.section_id %>.<%= r.index %></span>
          <span class="description"><%= r.name %></span>
          <div class="pull-right circularProgressBorder">
            <div class="pull-right">
              <%
                progress = Event.where(:requirement_id => r.id).sum("requirement_progress").to_f
                percentComplete	= progress/r.amt_goal
              %>
              <div class="circularProgress --<%= (percentComplete * 100).to_i %> pull-right">
                <div class="circularProgress__overlay"></div>
              </div>
            </div>
            <p class="pull-right"><%= progress.truncate %>/<%= r.amt_goal.truncate %>&nbsp;</p>&nbsp;
          </div>
    <% end %>
  </ul>
</div>