<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Checkpoints</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Completion date</th>
      <th>Requirement</th>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.comment %></td>
        <td><%= checkpoint.completion_date %></td>
        <td><%= checkpoint.requirement %></td>
        <td><%= checkpoint.user %></td>
        <td><%= checkpoint.group %></td>
        <td><%= link_to 'Show', checkpoint %></td>
        <td><%= link_to 'Edit', edit_checkpoint_path(checkpoint) %></td>
        <td><%= link_to 'Destroy', checkpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkpoint', new_checkpoint_path %>

</div>