<!DOCTYPE html>
<html>
<head>
  <title>Cosc490</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="sidebar">
  <img src="https://chiphi.dynamic.omegafi.com/wp-content/uploads/sites/2013/2016/10/chakett-logo-retina.png" alt="..." class="img-thumbnail img-circle">
  <h4 class='page-header' style='color:white'>Events</h4>
  <ul class="list-group">
    <%= button_to 'Event', events_path, :method => 'get', :class => 'btn btn-block' %>
  </ul>
  <h4 class='page-header' style='color:white'>Requirements</h4>
  <ul class="list-group">
    <%= button_to 'Overview', main_index_path, :method => 'get', :class => 'btn btn-block' %>
    <%= button_to 'Academics', main_academics_path, :method => 'get', :class => 'btn btn-block' %>
    <%= button_to 'Chapter Management', main_chapter_management_path, :method => 'get', :class => 'btn btn-block' %>
    <%= button_to 'Member Development', main_member_development_path, :method => 'get', :class => 'btn btn-block' %>
    <%= button_to 'Community Involvement', main_community_involvement_path, :method => 'get', :class => 'btn btn-block' %>
    <%= button_to 'Presentation', main_presentation_path, :method => 'get', :class => 'btn btn-block' %>
  </ul>
</div>

<%= yield %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
