<!DOCTYPE html>
<html>
<head>
  <title>Cosc490</title>
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="wrapper">
  <a id="menu-toggle" href="#" class="navbar-brand btn-menu toggle">
    <i class="fa fa-bars menu-bars" style="z-index: 750;"></i>

    <svg height="100" width="100" class="navbar-svg" >
      <path d="M0 0 L75 0 L0 75 Z" fill="#2A3F54" />
    </svg>

  </a>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <nav id="spy">
      <div class="sidebar-nav nav">
        <div class="row sidebar-login">
          <% if session[:user_id] != nil %>
              <div class="dropdown">
                <button class="btn dropdown-toggle col-md-1 sidebar-login-link" style="width:100%;" type="button" data-toggle="dropdown">
                  <%= User.find_by_id(session[:user_id]).email %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="<%= logout_path %>">Logout</a></li>
                </ul>
              </div>
          <% else %>
            <a href="/sessions/new" class="col-md-6 sidebar-login-link">Login
            </a>
            <a href="/users/new" class="col-md-6 sidebar-login-link">Signup</a>
          <% end %>
        </div>
        <a href="/">
          <%= image_tag 'chakett-logo-retina.png', :class => 'img-thumbnail img-circle' %>
        </a>
        <h4 class='page-header nav-title'>Events</h4>
        <ul class="nav">
          <li><%= button_to 'Event', events_path, :method => 'get', :class => 'btn btn-block' %></li>
          <li><%= button_to 'Check Point', checkpoints_path, :method => 'get', :class => 'btn btn-block' %></li>
        </ul>
        <h4 class='page-header nav-title'>Requirements</h4>
        <ul class="nav">
          <li><%= button_to 'Overview', main_index_path, :method => 'get', :class => 'btn btn-block' %></li>
          <li><%= button_to 'Academics', main_academics_path, :method => 'get', :class => 'btn btn-block' %></li>
          <li><%= button_to 'Chapter Management', main_chapter_management_path, :method => 'get', :class => 'btn btn-block' %></li>
          <li><%= button_to 'Member Development', main_member_development_path, :method => 'get', :class => 'btn btn-block' %></li>
          <li><%= button_to 'Community Involvement', main_community_involvement_path, :method => 'get', :class => 'btn btn-block' %></li>
          <li><%= button_to 'Presentation', main_presentation_path, :method => 'get', :class => 'btn btn-block' %></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="page-content-wrapper">
        <%= yield %>
  </div>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  /*Menu-toggle*/
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
  });
</script>
</body>
</html>
